body{
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}
.cont{
    margin: auto;
    height: 300px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 30px;
}

.section{
    position: absolute;
    z-index: 1;
    width: 100vw;
}

#img{
    background-image: url("../img/img-jv.jpg");
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 300px;
    margin: auto;
    padding-bottom: 10px;
}

#hello{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 56px;
    font-size: 18pt;
}

#img_div{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    flex-direction: row;
}

#bg_img{
    background-image: url('../img/bgc4.jpg');
    position: absolute;
    width: 100vw;
    height: 100%;
    background-size: cover;
    filter: blur(5px) brightness(0.85);
    /* saturate() -> saturação: usa com filter */
    transform: scale(1.4);
}

hr{
    /* border-width: 10px; */
    /* usa com border solid -> reto*/
    /* usa com border dashed -> pontinhos */
    border-width: 10px;
}

#img_div a img{
    width: 150px;
    height: 150px;
    /* max-width: 33%; */
}

@media(max-width: 900px){

    .cont{
        height: 700px;
    }

    #img_div{
        flex-direction: column;
        width: 100%;
    }

    #img_div a{
        margin: 10px auto;
    }


    
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }